<p>
    My name is Derek Cresswell.
    I'm a software engineer focused on building tools that help developers work faster and more reliably.
</p>
<p>
    I started programming at 13 and got my first developer job in high school.
    I've always been curious about how software works, which led me to spend most of my free time on personal projects.
    Today, I work at <a href="https://amd.com">AMD</a> as a Software Development Engineer 2.
</p>
<p>
    I hold an Honours Bachelor of Science from the University of Toronto, where I specialized in Computer Science and minored in Mathematics.
    My academic focus was in operating systems, compilers, and language paradigms.
    I was able to particpate in <a href="/about#research-projects">three research projects</a> during my degree.
</p>
