<ul class="no-decoration contact-list">
    <li>
        <strong>Email:</strong>
        <a href="mailto:derekjcress@gmail.com">derekjcress@gmail.com</a>
    </li>
</ul>
<p>Almost everywhere I am "DerekCresswell". Maybe you're interested in seeing my:</p>
<ul class="no-decoration contact-list">
    <li>
        <strong>GitHub:</strong>
        <a href="https://github.com/DerekCresswell">DerekCresswell</a>
    </li>
    <li>
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/derekcresswell">Derek Cresswell</a>
    </li>
    <li>
        <strong>Drupal:</strong>
        <a href="https://www.drupal.org/u/derekcresswell">derekcresswell</a>
    </li>
    <li>
        <strong>Stack Overflow:</strong>
        <a href="https://stackoverflow.com/users/10553472/derek-c">Derek C.</a>
    </li>
</ul>
