<ul style="list-style:none; padding:0;">
    <li>
        <strong>Email:</strong>
        <a href="mailto:derekjcress@gmail.com">derekjcress@gmail.com</a>
        <p>Please feel free to reach out to me. I'm happy to talk about any of my writings, projects, or coding in general.</p>
    </li>
    <li>
        <strong>GitHub:</strong>
        <a href="https://github.com/DerekCresswell">DerekCresswell</a>
    </li>
    <li>
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/derekcresswell">Derek Cresswell</a>
    </li>
</ul>
