---
layout: default
title: About
---

<div class="table-of-contents">
    <ul>
        <li><a href="#career">Career</a></li>
        <ul>
            <li><a href="#resume">Resume</a></li>
        </ul>
        <li><a href="#education">Education</a></li>
        <ul>
            <li><a href="#research-projects">Research Projects</a></li>
            <li><a href="#awards-and-scholarships">Awards & Scholarships</a></li>
        </ul>
        <li><a href="#what-do-i-program">What Do I Program?</a></li>
        <li><a href="#why-do-i-program">Why Do I Program?</a></li>
        <li><a href="#why-does-your-site-look-like-that">Why Does Your Site Look Like That?</a></li>
    </ul>
</div>

{% include about_brief.html %}

<h3 id="career">Career</h3>

{% assign careers = "" | split: "" %}
{% for career in site.data.careers %}
    {% capture career_capture %}
        <span class="listing-title">{{ career.position }}</span>
        @
        <a href="{{ career.url }}">{{ career.company }}</a>
        |
        <span class="listing-date">{{ career.start_date }} - {{ career.end_date }}</span>
        <ul class="career-description-list">
            {% for description in career.position_description %}
                <li>{{ description }}</li>
            {% endfor %}
        </ul>
        {% if career.company_description %}
            <hr />
            <p>{{ career.company_description }}</p>
        {% endif %}
    {% endcapture %}
    {% assign careers = careers | push: career_capture %}
{% endfor %}

{% include alternating_list.html
    items=careers
    empty_message="Apparently I haven't worked anywhere yet. Odd."
%}

<h4 id="resume">Resume</h4>
<p>
    All of this information can be found on my resume.
    The up-to-date resume is available <a href="/resume.html">here</a>.
</p>

<h3 id="education">Education</h3>

<h4 id="research-projects">Research Projects</h4>

<h4 id="awards-and-scholarships">Awards & Scholarships</h4>

<h3 id="what-do-i-program">What Do I Program?</h3>

<h3 id="why-do-i-program">Why Do I Program?</h3>

<h3 id="why-does-your-site-look-like-that">Why Does Your Site Look Like That?</h3>
