---
layout: default
title: Blog
---

<p>This is where I share my learning, ramblings, and insights into the world of programming.</p>

<h2>Recent Posts:</h2>

<ul class="no-decoration">
    {% for post in site.posts %}
        {% include blog_listing.html post=post %}
        {% unless forloop.last %}
            <div class="divider"></div>
        {% endunless %}
    {% else %}
        <li>
            <p>No posts available at the moment. Check back soon...</p>
        </li>
    {% endfor %}
</ul>
