---
layout: default
title: Homepage
---
<section id="about">
    <h2>About Me</h2>
    <p>Lorem Ipsum</p>
</section>
<section id="blogs">
    <h2>Blog</h2>
    <p>This is where I share my learning, ramblings, and insights into the world of programming.</p>
    {% if site.posts.size > 0 %}
        Checkout my latest post:
        <ul class="no-decoration">
            {% for post in site.posts %}
                {% include blog_listing.html post=post %}
                {% break %}
            {% endfor %}
        </ul>
    {% endif %}
</section>
<section id="projects">
    <h2>Projects</h2>
    <p>Here are some of my recent projects:</p>
    <ul>
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
    </ul>
</section>
<section id="contact">
    <h2>Contact</h2>
    <p>Feel free to reach out to me at <a href="mailto:derekjcress@gmail.com">derekjcress@gmail.com</a>.</p>
</section>
