---
layout: default
title: Homepage
---
<section id="about">
    {% include about_brief.html %}
    <hr />
    <p>For more info on my career, education, interests, and resume, visit my <a href="/about">about page</a>.</p>
</section>
<section id="blogs">
    <a href="/blog">
        <h2>Blog</h2>
    </a>
    <p>This is where I share my learning, ramblings, and insights into the world of programming.</p>
    {% if site.posts.size > 0 %}
        Checkout my latest post:
        <ul class="no-decoration">
            {% for post in site.posts %}
                {% include blog_listing.html post=post %}
                {% break %}
            {% endfor %}
        </ul>
    {% endif %}
</section>
<section id="projects">
    <a href="/projects">
        <h2>Projects</h2>
    </a>
    <p>
        I keep a list of projects that I have worked on <a href="/projects">here</a>.
        These projects are a mix of personal, professional, and open source contributions.
        They showcase my skills and interests in various areas of software development.
        I might throw in a few odd ball projects that aren't necessarily programming related, but are still interesting to me.
    </p>
</section>
<section id="contact">
    <a href="/contact">
        <h2>Contact</h2>
    </a>
    {% include contact_card.html %}
</section>
