body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f47d;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

h1 {
    display: contents;
}

main {
    max-width: 800px;
    margin: 8px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #666;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:visited {
    color: #007bff;
}

a:hover {
    color: #004691;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links div {
    display: flex;
    margin-top: 8px;
}

.active-link {
    color: #004c9d;
}

.no-decoration {
    list-style: none;
}

.alternating-list {
    padding: 0px;
}

.listing-date {
    font-style: italic;
    color: #575757;
}

.listing {
    padding: 8px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.left-listing {
    margin-right: 40px;
}

.right-listing {
    margin-left: 40px;
}

.single-listing {
    margin-left: 40px;
    margin-right: 40px;
}

.listing-title {
    font-size: 1.2em;
    font-weight: bold;
}

.divider {
    padding: 10px;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile-picture {
    width:48px;
    height:48px;
    display: block;
    margin-right:25px;
}

@media only screen and (max-width: 450px) {
    .title-box {
        flex-direction: column;
    }
    .profile-picture {
        margin-right: 0;
        width: auto;
        height: 100px;
    }
}

.contact-list {
    padding: 0;
}

.table-of-contents {
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 8px;
    width: fit-content;
    margin-right: 10px;
    float: left;
}

@media only screen and (max-width: 500px) {
    .table-of-contents {
        float: none;
        margin: auto;
    }
}

.table-of-contents ul {
    margin: 0;
    padding-left: 20px;
}

.career-description-list {
    margin-top: 15px;
}

.resume-viewer object {
    height: 1050px
}

.paragraphs p {
    text-indent: 1em;
}

.center-text {
    text-align: center;
}

.tag-link {
    display:block;
}

.tag {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    color: #007bff;
    background-color: #aed5ff;
    border-color: #007bff;
    border-style: solid;
    border-width: 2px;
    float: left;
    border-radius: 8px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.tag:visited {
    color: #007bff;
    border-color: #007bff;
}

.tag:hover {
    color: #004691;
    border-color: #004691;
}

.tags {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
}

.blog-listing-title-box {
    justify-content: left;
    display: flex;
    align-items: center
}

.blog-listing-split {
    margin-left: 5px;
    margin-right: 5px;
}

.blog-post-header {

}

.blog-date {
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;
    color: #575757;
}