<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derek Cresswell{% if page.url != "/" %}: {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/pfp.png">
</head>
<body>
    <div class="content-wrapper">
        <header>
            <div class="title-box">
                <a href="/">
                    <img class="profile-picture" src="/assets/images/pfp.png" alt="Derek Cresswell's profile picture">
                </a>
                <h1>
                    <a href="/">Derek Cresswell</a>
                </h1>
            </div>
            {% include navigation.html %}
        </header>
        <main>
            {% unless page.url == "/" %}
                <h2>{{ page.title }}</h2>
            {% endunless %}
            {{ content }}
        </main>
        <footer>
            <p>&copy; 2025 Derek Cresswell</p>
        </footer>
    </div>
</body>
</html>
