---
layout: default
excerpt_separator: "<!--more-->"
---
<div class="blog-post-header">
    {% if page.tags %}
        <div class="tags">
            {% for tag in page.tags %}
                {% include tag.html tag=tag %}
            {% endfor %}
        </div>
    {% endif %}

    <p class="blog-date">Posted on: {{ page.date | date: "%d/%m/%Y" }}</p>
</div>
<hr />

<!--more-->

<div class="paragraphs">
    {{ content }}
</div>

<hr />
<p>Want to read some more? Check out the <a href="/blog">rest of my posts</a>.</p>
